<div class="flex justify-between max-w-4xl mx-auto mb-8">
  <h1 class="dark:text-gray-100 text-2xl font-bold">Articles</h1>
  <% if user_signed_in? %>        
    <div>
      <button class="btn_submit flex">          
          <span><%= link_to "New Article", new_article_path %></span>                  
      </button>
    </div>
  <% end %>
</div>

<% @articles.each do |article| %>
  <% unless article.archived? %>    
      <%= render article %>
  <% end %>
<% end %>